<%- include("partials/header.ejs") %>

<div class="container py-4">
  <div class="main-card">

    <a href="/" class="btn btn-outline-light btn-sm mb-3">
        &larr; Back to Home
    </a>

    <h1 class="page-title mb-3">Edit Author</h1>

    <form method="POST" action="/author/edit" class="row g-3">
      <input type="hidden" name="authorId" value="<%= author.authorId %>">

      <div class="col-md-6">
        <label class="form-label">First name</label>
        <input type="text" name="fName" class="form-control"
               value="<%= author.firstName %>" required>
      </div>
      <div class="col-md-6">
        <label class="form-label">Last name</label>
        <input type="text" name="lName" class="form-control"
               value="<%= author.lastName %>" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Date of birth</label>
        <input type="date" name="dob" class="form-control"
               value="<%= author.dobISO %>" required>
      
      <div class="col-md-6">
        <label class="form-label">Date of death</label>
        <div class="input-group">
          <input type="date" name="dod" id="dodEdit" class="form-control"
                value="<%= author.dodISO %>">
          <span class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox"
                  id="aliveEdit" name="alive"
                  <% if (!author.dodISO) { %> checked <% } %>>
            <span class="ms-1 small">Still alive</span>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label d-block">Sex</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sex" value="M"
            <% if (author.sex === "M") { %> checked <% } %> >
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sex" value="F"
            <% if (author.sex === "F") { %> checked <% } %> >
          <label class="form-check-label">Female</label>
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Profession</label>
        <input type="text" name="profession" class="form-control"
               value="<%= author.profession %>">
      </div>

      <div class="col-md-4">
        <label class="form-label">Country</label>
        <input type="text" name="country" class="form-control"
               value="<%= author.country %>">
      </div>

      <div class="col-12">
        <label class="form-label">Portrait URL</label>
        <input type="url" name="portrait" class="form-control"
               value="<%= author.portrait %>">
      </div>

      <div class="col-12">
        <label class="form-label">Biography</label>
        <textarea name="biography" rows="4" class="form-control"><%= author.biography %></textarea>
      </div>

      <div class="col-12 text-end">
        <button class="btn btn-primary">Update Author</button>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const alive = document.getElementById("aliveEdit");
    const dod   = document.getElementById("dodEdit");

    function toggleDod() {
      if (alive.checked) {
        dod.value = "";
        dod.disabled = true;
      } else {
        dod.disabled = false;
      }
    }

    toggleDod();
    alive.addEventListener("change", toggleDod);
  });
</script>

<%- include("partials/footer.ejs") %>
